.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  /* background-image: url('https://cdn.pixabay.com/photo/2019/02/04/01/03/recording-studio-3973795_960_720.jpg'); */
  font-size: 2em;
  overflow: hidden;
}

.heroMusic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  background-image: url('https://cdn.pixabay.com/photo/2019/02/04/01/03/recording-studio-3973795_960_720.jpg');
  font-size: 2em;
  overflow: hidden;
}



